# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


AUTOMATIC_OCR_PIPELINE_IMPLEMNENTATION.md
DELIVERY_SUMMARY.md
COMPLETE_FILE_CHANGES.md
IMPLEMENTATION_COMPLETED.md
QUICK_START_OCR.md
00_START_HERE.md
README_OCR_PIPELINE.md